body {
    font-family: 'Roboto Slab', Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

/* SELECTOR DE IDIOMA */

#language-selector {
    position: fixed;
    z-index: 1000;
    width: 100%;
    text-align: center;
    padding: 10px 0px 20px;
    background: #222;
}
#language-selector button {
    padding: 5px 12px;
    margin: 0 5px;
    font-family: inherit;
    font-size: 1.2rem;
    border: 1px solid #50C878;
    background-color: black;
    color: white;
    cursor: pointer;
    opacity: .6;
    transition: opacity 0.3s ease-out;
}

#language-selector button:hover {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

#language-selector a {
    color: #50C878;
    text-decoration: none;
}

#language-selector a:hover {
    text-decoration: underline;
}

.button-active {
    background-color: #50C878 !important;
    color: black !important;
    border: 1px solid #50C878 !important;
    opacity: 1 !important;
}

.titulo-carta h1 {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    color: white;
}
.titulo-carta p {
    font-size: .8rem;
    margin: 0 0 10px;
}

/* CONTENEDORES DE CONTENIDO */

.container, .container-footer {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.container {
    padding: 110px 20px 20px 20px !important;
}

.container-footer {
    text-align: center;
    font-size: 0.75rem;
    color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.container-footer a, .container-footer a:visited {
    color: #777;
    text-decoration: none;
}

.container-footer a:hover {
    text-decoration: underline;
}

.logo-container {
    width: 50vw;
    max-width: 300px;
    height: auto;
    margin: 10px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

/* CONTENIDO DE LA CARTA */

.section-title {
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #50C878;
}

.menu-section {
    display: none;
    padding: 10px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #333;
}

.item-name {
    font-weight: 500;
    margin-bottom: 5px;
}

.item-description {
    font-size: smaller;
    color: #aaa;
    width: 85%;
}

.item-price {
    align-self: flex-end;
    margin-top: -22px;
}

.section-footer {
    text-align: right;
    font-size: 0.9rem;
    font-weight: 300;
    color: #50C878;
}

/* LOGOTIPO Y ROTACIÓN */

.logo-container {
    width: 50vw;
    max-width: 200px;
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
}

@keyframes rotateLogoRight {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateLogoLeft {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}